# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
*.pyc
*.pyo

# Virtual Environments
.env
env/
.venv/
venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media/
staticfiles/

# Ignore caches
*/migrations/__pycache__/
*/migrations/*.pyc

# VSCode
.vscode/

# MacOS
.DS_Store

# Poetry
poetry.lock

# Docker
docker-compose.override.yml
*.env

# Node / Frontend (if you have it)
node_modules/
dist/
